.grid-square{
    width: 50px;
    height: 50px;
    border: 1px solid black
}

.row{
    display:flex;
}

.color-change{
    background-color: '#' + Math.floor(Math.random()*16777215).toString(16);
}